/* Start Adding your CSS here */
html {
  width: 100vw;
  height: 100vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html * {
  margin: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.factButton {
  margin: 10px;
  background-color: #af7223;
  padding: 10px 20px;
  border-radius: 4px;
  transition: scale 0.5s, background-color 0.5s, color 0.25s;
  max-width: 250px;
}

.factButton:hover {
  scale: 1.1;
  background-color: #8f5d1c;
  color: white;
}

body {
  width: 100%;
  height: 100%;
  background-color: #c035ee;
  display: flex;
  align-items: center;
  justify-content: center;
}

.factContainer {
  text-align: center;
  font-size: 25px;
  font-weight: 800;
}

.dogFactContainer{
  display: flex;
  padding: 20px 40px;
  max-width: 350px;
  border-radius: 4px;
  background-color: #ed8c0c;
  border: 1px solid black;
}

.dogFact {
  line-height: 25px;
  font-weight: 700;
}