/* Start Adding your CSS here */
html {
  width: 100vw;
  height: 100vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html * {
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-color: #ee9e35;
  display: flex;
  align-items: center;
  justify-content: center;
}

.factContainer {
  text-align: center;
  font-size: 25px;
  font-weight: 800;
}

.dogFactContainer{
  display: flex;
  padding: 20px 40px;
  max-width: 350px;
  border-radius: 4px;
  background-color: #ed8c0c;
  border: 1px solid black;
}

.dogFact {
  line-height: 25px;
  font-weight: 700;
}