* {
  box-sizing: border-box;}

html {
  height: 100%;
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
}

body {
  height: 100%;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.hero-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #163420;
}

.logo-container {
  background-color: #CBD8E0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: clamp(360px, 80%, 80%);
  align-self: center;
  border:1px solid #000;
  border-radius: 4px;
}

.title-name {
  width: 100%;
  text-align: center;
  font-size: clamp(1.2rem, 6vw, 1.8rem);
  white-space: nowrap;
  color:#000;
}

.logo {
  width: 10%;
  height: auto;
  margin: 10px 10px 10px 10px;
}

.banner-video {
  width: 100%;
  height: 100%;
  background-color: #CBD8E0;
  border: 1px solid #000;
}

.footer-container {
  background-color: #CBD8E0;
  height: 100%;
  border: 1px solid #000;
}

.sign-in-section {
  background-color: #163420;
  border: none;
  color: #CBD8E0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.sign-up {
  text-align: end;
  margin: 10px;
}

a {
  color: white;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  background-color: #CBD8E0;
  border-radius: 4px;
  border: 1px solid #0B120E;
  color: #000;
}

.input-names {
 color: #000;
}

fieldset h3 {
  text-transform: uppercase;
}

label {
  padding: 10px 10px 10px 0;
}

button {
  appearance: none;
  -webkit-appearance: button;
  align-self: flex-start;
  background: #731fa1;
  color: #fff;
  padding: 8px 14px;
  border-radius: 4px;
  border: 1px solid #731fa1;
  text-transform: none;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 10px;
}

.checkbox, .form-box{
  background-color: white;
  color: black;
  border:1px solid #000;
  transition: border .15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-box {
  border-radius: 4px;
  width: 100%;
  padding: 5px 10px;
  appearance: none;
  margin-top: 10px;
}

.form-box:focus, .checkbox:focus, button:hover {
  border:1px solid rgb(210, 153, 255);
  box-shadow:  0px 0px 7px rgb(210, 153, 255);;
}

.video-container, .footer-container, .logo {
  display: none;
}

/* Desktop */
@media (min-width: 1025px) {

  main {
    flex-direction: row;
  }

  .hero-section {
    min-width: 360px;
    width: 30%;
  }

  fieldset {
    background-color: #163420;
    border: none;
    color: white;
  }

  .input-names {
    color: white;
  }

  .checkbox, .form-box{
    background-color: #111;
    color: #bbb;
  }

  .logo-container {
    max-width: 100%;
    border-radius: 0px;
    border-bottom: none;
  }

  .footer-container {
    border-top: none;
  }
  
  .banner-video {
    border-top: none;
    border-bottom: none;
  }

  .logo {
    margin-left: 20px;
  }

  .sign-in-section {
    border:1px solid #000;
    border-left: none;
  }

  .sign-up {
    position: absolute;
    top: 0;
    right: 0;
  }

  .video-container, .footer-container, .logo {
    display: block;
  }
}