html * {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Charlie Text', sans-serif,'Roboto Flex';
  color: #613635;
  font-size: 16px;
}

body {
  display:flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  padding: 40px;
  background-color: #c3f3f4;
}

#superContainer {
  width: 60%;
  height: 30%;
}

form {
  border: 1px solid black;
  padding: 30px;
  appearance: none;
  border-radius: 4px;
  background-color: #d7f6f9;
  min-width: 360px;
}

h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

fieldset {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 16px;
  padding: 20px;
  background-color: #fbf4f4;
  border-radius: 4px;
}

label {
  display: flex;
  flex-direction: column;
  margin-right: 5%;
  gap: 10px;
  flex-basis: 140px;
  flex-grow: 1;
  font-weight: 600;
}

input {
  flex-grow: 1;
  max-height: 21px;
}

#addTaskButton {
  flex-grow: 1;
  flex-basis: 127px;
  padding: 10px;
  font-weight: 600;
  font-size: 1.1rem;
}
button:hover {
  background-color: #e2f7f9;
  border:none;
}

#result {
  
}

#taskList {
  list-style-type: none;;
}

