:root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #8d639c;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mainContainer {
  display: flex;
  flex-direction: row;
}

.project {
  padding: 10px;
  background-color: #A482B0;
  margin: 10px;
  border-radius: 4px;
  box-shadow: 1px 1px 4px 1px #573D60;
}

.projectImage {
  max-width: auto;
  max-height: 150px;
  border-radius:  4.75% / 3.5%;;
  box-shadow: 1px 1px 4px 1px #573D60;
}

.githubIcon, 
.netlifyIcon {
  width: 25px;
  border-radius: 2px;
}

