:root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: Poppins ,source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  height: 100vh;
  width: 100vw;
}

html * {
  margin:0px;
  box-sizing: border-box;
}

h1 {
  font-size: clamp(60px, 5vw, 80px);
  font-weight: 700;
  line-height: 100%;
  margin: 20px;
  text-align: center
}

h2 {
  font-size: 60px;
  font-weight: 700;
  line-height: 100%;
  margin: 20px;
}

h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
  margin: 15px;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin: 10px;
}

body {
  margin: 0;
}

.bodyContainer {
  background-color: #66594D;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: auto;
}

.bodyContainer > * {
  padding: 8px 30px 8px 30px;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #3C3835;
  text-align: center;
  color: #FFFFFF;
  width: 100%;
}

.headerContainer > * {
  max-width: 500px;
}

.headerContainer > h1 {
  align-self: center;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 8px 0px;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 30px;
  margin: 10px;
  border-radius: 4px;
  transition: scale 0.25s, box-shadow 0.25s;
}

.project:hover {
  scale: 1.02;
  box-shadow: 1px 1px 8px 1px #332C25;
}

.projectInfo {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 10px 0px;
  background-color: #917154;
  padding: 10px;
  border-radius: 4.75% / 3.5%;
  box-shadow: 1px 1px 4px 1px #332C25;
}

.projectName {
  margin-left: 0;
}

.descriptionContainer > p {
  margin-left: 0;
}

.projectTags {
  display: flex;
  flex-wrap: wrap;
  
}
.tags {
  margin: 2px;
  padding: 2px;
  border: 1px solid #000000;
  border-radius: 4px;
  flex: 1;
  text-align: center;
  max-width: 125px;
}

/* Images */

.project > a {
  min-width: 0px;
  flex: 1;
  display: flex;
}

.projectImage {
  max-height: 400px;
  height: auto;
  border-radius:  4.75% / 3.5%;
  box-shadow: 1px 1px 4px 1px #332C25;
  background-color: #E58C3A;
}

.featuredImages {
  margin: 20px 0px;
}

.featuredImages > img {
  width: 30%;
  height: auto;
  border-radius:  4.75% / 3.5%;
  box-shadow: 3px 3px 4px 3px #332C25;
  background-color: #E58C3A;
}

#image0 {
  position: relative;
  top: 20px;
  left: 15px;
  rotate: -12deg;
  z-index: 1;
}
#image1 {
  z-index: 3;
  position: relative;
  bottom:10px;
}
#image2 {
  rotate: 12deg;
  position: relative;
  top: 20px;
  right: 15px;
  z-index: 2;
}

.linkContainer {
  display: flex;
  flex-direction: column;
}
.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #151A1E;
  margin: 2px;
  border-radius: 4px;
  color: #FFFFFF;
  text-decoration: none;
  max-width: 50%;
  min-width: 95px;
  padding: 4px;
}

.link > p {
  margin: 5px;
  align-self: center;
}

.githubIcon, 
.netlifyIcon {
  max-width: 25px;
  max-height: 25px;
  border-radius: 2px;

}


@media (min-width: 744px) and (max-width: 1439px) {
  
  .project {
    display: flex;
    flex-direction: row;
  }

  .project > a {
      margin-right: 100px;
  }

  .projectImage {
    max-height: 400px;
    min-width: 320px;
  }

  .projectInfo {
    margin: 0px;
    padding: 40px;
    flex: 1;
    min-width: 0px;
    max-width: 400px;
  }

}

@media (min-width: 1440px) {

  .headerContainer > * {
    max-width: 730px;
  }

  .headerContainer > h1 {
    max-width: none;
  }
  
  .project {
    display: flex;
    flex-direction: row;
  }

  .project > a {
    margin-right: 100px;
  }

  .projectImage {
    max-height: 400px;
    margin-right: 120px;
  }

  .projectInfo {
    margin: 0px;
    padding: 40px;
    flex: 1;
    min-width: 0px;
    max-width: 400px;
  }

}






