:root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: Poppins ,source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  height: 100vh;
  width: 100vw;
}

html * {
  margin:0px;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.bodyContainer {
  height: 100%;
  width: auto;
}
.bodyContainer > * {
  padding: 8px 30px 8px 30px;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
  text-align: center;
  color: #FFFFFF;
}
.headerContainer * {
  max-width: 500px;
}

/* #3b0d4c*/

.mainContainer {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.project {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #8d639c;
  margin: 10px;
  border-radius: 4px;
  box-shadow: 1px 1px 4px 1px #573D60;
  transition: scale 0.25s, background-color 0.25s, box-shadow 0.25s;
  transition-timing-function: ease-in-out
}

.project:hover {
  scale: 1.05;
  background-color: #A482B0;
  box-shadow: 1px 1px 4px 1px #8d639c;
}


.projectImage,
.featuredImages > img  {
  max-width: auto;
  max-height: 150px;
  border-radius:  4.75% / 3.5%;
  box-shadow: 1px 1px 4px 1px #573D60;
}

.projectName {
  text-align: center;
}

.githubIcon, 
.netlifyIcon {
  width: 25px;
  border-radius: 2px;
}

