html * {
  margin: 0;
  box-sizing: border-box;
  color: #fff;
}
body {
  background-color: #222;
}

form {
  margin: 10px;
  padding: 5px;
  appearance: none;
  display: flex;
  flex-direction: column;
}

/* form * {
  flex: 1 1 auto;
} */

form, fieldset {
  border-radius: 4px;
  border: 1px solid #c999e6;
}

fieldset {
/*   display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between; */
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 16px;
  margin: 2px;
}

label {
  color: #c999e6;
  display: flex;
  padding: 5px;
  flex-grow: 1;
  flex-basis: 200px;
}

input, select {
  color: #222;
/*   flex: 0 1 165px;
  max-width: 165px;
  min-width: 50px; */
  flex-grow: 1;
  flex-basis: 165px;
  margin: 5px;
}

#longLabel {
  flex: 2;
  flex-basis: 400px;
}
#longLabel > input, select {
  flex-basis: auto;
}

h2 {
  text-align: center;
}

option {
  color: #222;
}

.imgSpan {
  position: relative;
}

.cardImg, .bigCardImg {
  border-radius: 4.75% / 3.5%;
  margin: 1px;
}

.bigCardImg {
  position: absolute;
  left: 100%;
  visibility: hidden;
  z-index: 10;
  width: 180%;
  height: auto;
  overflow: hidden;
}
button {
  color: #222;
  max-width: 70px;
  height: 25px;
}

@media  (min-width: 1130px) {
  fieldset {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

}