html * {
  margin: 0;
  box-sizing: border-box;
  color: #fff;
}
body {
  background-color: #222;
}

html, body, #result {
height: 100vh;
}

form {
  margin: 10px;
  padding: 5px;
  appearance: none;
  display: flex;
  flex-direction: column;
}

form, fieldset {
  border-radius: 4px;
  border: 1px solid #c999e6;
}

fieldset {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 16px;
  margin: 2px;
  flex-grow: 1;
}

label {
  color: #c999e6;
  display: flex;
  padding: 5px;
  flex-grow: 1;
  flex-basis: 200px;
}

input, select {
  color: #222;
  flex-grow: 1;
  flex-basis: 165px;
  min-width: 100px;
  margin: 5px;
  max-width: 200px;
}

#longLabel {
  flex-basis: 400px;
}
#longLabel > input {
  flex-basis: 75px;
}
#longLabel > select {
  flex-grow: 2;
}


h2 {
  text-align: center;
}

option {
  color: #222;
}

.imgSpan {
  position: relative;
}

.cardImg, .bigCardImg {
  border-radius: 4.75% / 3.5%;
  margin: 1px;
}

.bigCardImg {
  position: absolute;
  left: 100%;
  visibility: hidden;
  z-index: 10;
  width: 180%;
  height: auto;
}
button {
  color: #222;
  max-width: 70px;
  height: 25px;
}

#result {
  margin: 5px;
  overflow-x: hidden;
}

@media  (min-width: 1130px) {
  fieldset {
    flex-direction: row;
    align-items: center;
  }

}