@import "tailwindcss";
/*
  Magic color palette:
    https://coolors.co/palette/18130d-6e3722-925931-70929a-4c6492

    {
      "Pitch Black":"18130D",
      "Dark Walnut":"6E3722",
      "Toffee Brown":"925931",
      "Air Force Blue":"70929A",
      "Baltic Blue":"4C6492",
      "papyrus-beige": #FEDAA5,
      "papyrus-white": #fff6e8
      "sky-soap": #ecf4ff
      "Found white": #e3e3e3

    }

    Magic font "Satans Minions" by Mickey Rossi
    https://fontmeme.com/magic-the-gathering-font/

    cardmarketAPI?
    https://help.cardmarket.com/en/cardmarket-api

*/

@font-face {
  font-family: "satans-minions";
  src: url(./assets/satans-minions-font/satam___-webfont.woff2);
}

@theme {
  --color-pitch-black: #18130D;
  --color-dark-walnut: #6E3722;
  --color-toffee-brown: #925931;
  --color-air-force-blue: #70929A;
  --color-baltic-blue: #4C6492;
  --color-gray-pearl-white: #e3e3e3;
  --color-papyrus-beige: #FEDAA5;

/*Contemporary colors*/
  --color-papyrus-white: #fff7ec;
  --color-sky-soap: #ecf4ff;


  --font-satans-minions: "satans-minions", "sans-serif";
}