:root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*"#F3E8DF","#E8D1C5","#57595B","#57595B","#452829" */


html * {
  box-sizing: border-box;
  margin: 0;
}

html,
body,
#root,
.contentContainer {
  width: 100vw;
  height: 100vh;
}

.contentContainer {
  background-color: #F3E8DF;
  position: relative;
}

h1 {
  margin-top: 20px;
}

button,
.statementParagraph {
  cursor: pointer;
}

.startingContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 10;
  position: absolute;
  background-color: #F3E8DF;
}
.startingContainer > h1 {
  max-height: 80px;
}

.questionsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.resultContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 30px;
  align-items: center;
}

.isHidden {
  display: none;
}

.arrowAndHeaderContainer,
.headerContainer,
.questionTextContainer {
  display: flex;
  justify-content: center;
}
.arrowAndHeaderContainer {
  position: relative;
}


.header {
  margin-top: 80px;
  flex: 1;
  justify-content: center;
  align-self: center;
  text-align: center;
}

.centerContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}


.questionTextContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  margin-top: 60px;
  width: 80%;
  gap: 30px;
}

.statementParagraph {
  font-size: clamp(8px, 15vw, 20px);
}

.statementParagraph, 
.interactiveButton {
  padding: 20px;
  border: 1px solid #57595B;
  font-weight: 700;
  transition: scale 0.2s, background-color 0.2s, border 0.2s, color;
}

.statementParagraph:hover, 
.interactiveButton:hover {
  scale: 1.02;
  background-color: #57595B;
  border: 1px solid #452829;
  color:#F3E8DF;
}

#arrowButton {
  padding: 0px;
  border: 0px;
  width: 50px;
  height: auto;
  appearance: none;
  position: absolute;
  margin: 10px 0 0 10px;
}

.arrowImg {
  width: 50px;
  height: auto;
}

#resultHeader {
  text-decoration: underline;
}

.personalityInformationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.personalityInformationContainer * {
   margin-top: 30px;
}

.guildImage {
  flex: 1;
  max-width: 250px;
  max-height: 250px;
}
.personalityDescription {
  max-width: 600px;
  flex: 1;
  min-width: 0;
  padding: 30px;
  font-weight: 500;
  border: 1px solid #452829;
  border-radius: 4px;
  line-height: 30px;
  background-color: #E8D1C5;
}
.colorButtonContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.interactiveButton {
  margin-top: 0px;
  box-shadow:4px 4px 4px #57595B;
  background-color: #452829;
  color:#F3E8DF;
  border-radius: 4px;
}
.startingContainer > button {
  padding: 30px 40px;
  font-size: 20px;
}

@media (max-width: 750px) {

  .statementParagraph {
    overflow: hidden;
    font-size: clamp(10px, 1.8vw, 14px);
  }

  #resultHeader {
    text-align: center;
  }

  .questionTextContainer {
    display:flex;
    flex-direction: column;
  }

  .personalityInformationContainer {
    margin: 0px 10px;
  }

  .colorButtonContainer {
    gap: 15px;
  }
}