@import "tailwindcss";

@theme {
  --color-background: #F5FBE6;
  --color-light: #49D57C;
  --color-mediumDark: #215E61;
  --color-dark: #215E61;
  --color-accent: #FE7F2D;
}

@custom-variant dark (&:where(.dark, .dark *));