* {
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}

html, 
body {
  min-width: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #FAEEE8;
  display: flex;
  flex-direction: column;
}

#commander-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #B23E34;
  border-bottom: solid 2px #877578;
  width: 100%;
  height: 100%;
}

#commander-container > h3 {
  font-size: 2.2rem;
  color: #171411;
  text-align: center;
}

#commander-container > img {
  border-radius: 4.75% / 3.5%;
  width: clamp(130px, 180px, 180px);
  height: auto;
}

.container-for-deck-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#deck-container {
  width: calc(100% - 40px);
  background-color: #CFCEE0;
  border: 2px solid #877578;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 20px;
  padding: 20px 0;
  border-radius: 4px;
}

.hover-img {
  visibility: hidden;
  border-radius: 4.75% / 3.5%;
  z-index: 10;
  border-radius: 4.75% / 3.5%;
  width: clamp(130px, 180px, 180px);
  height: auto;
}

.fillerBox {
  width: 10%;
}

#decklist {
  list-style-type: none;
  margin: 0px 20px 0px 0px;
  padding: 20px 30px 20px 20px;
  line-height: 30px;
  background-color: #793832;
  border: 2px solid #877578;
  border-radius: 4px;
  width: calc(60% - 40px);
  height: 100%;
  column-width: 160px;
}

#decklist > li{
  font-size: 1.1rem;
  position: relative;
  font-weight: 500;
  width: auto;
  white-space: normal;
  display: inline-block;
}

fieldset {
  display: flex;
}

.form, 
.form * {
  width: 100%;
  min-width: 100px;
  max-width: 100%;
  flex: 1 1 auto;
}

.form {
  display: flex;
  border: none;
  margin: 0;
  background-color: #CDBBBE;
  border-bottom:1px solid #171411;
}

#type, 
#sort,
#card-search {
  max-width: 60%;
}

.form > .search-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 8px 0px;
}

@media (max-width:365px) {
  .form {
    flex-wrap: wrap;
  }
}


@media (min-width:667px) {
  body {
    display: flex;
    flex-direction: row;
  }

  #commander-container {
    width:clamp(345px, 40%, 30vw);
    border-right: solid 2px #877578;
    border-bottom: none;
  }

  #commander-container > h3{
    margin-top: 30px;
    margin-bottom: 45px;
  }

  #commander-container img{
    margin-top: 0;
    width: clamp(180px, 200px, 25vw);
  }

  #commander-img {
    margin-top: 40px;
  }

  .hover-img {
    width: clamp(180px, 200px, 25vw);
  }
}

