* {
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}

html {
  height: 100%;
}

body {
  background: white;
  display: flex;
  height: 100%;
  margin: 0;
}

.commander-container {
  background-color: #A048B7;
  width: 20%;
  height: 100%;
  border-right: solid 2px #723382;
}

.commander-container img {
  border-radius: 4.75% / 3.5%;
  flex-shrink: 1;
  width: 30%;
  height: auto;
}

.container-right-side {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.deck-container {
  height: 100%;
  background-color: #1FA29E;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#decklist {
height: 30%;
width: 10%;
border:solid 1px #723382;
background-color: #A048B7;
}

