
body {
    background-image: url(images/starry-sky-1655503.jpg);
    background-size: cover;    
    background-color: #cccccc;
}
h1 {
    font-size: 80px; 
}
h2 {
    font-size: 60px; 
}
h3 {
    font-size: 40px; 
}
.first-heading, .second-heading, .third-heading {
    color: beige;
    margin: 0 auto;
    width: fit-content;
    padding: 10px 0;
}

.hoverable:hover {
    color: rgb(245, 15, 37);
}
.gray-square {
    width: 400px;
    background-color: gray;
    padding:20px;
    box-shadow: 2px 2px 8px 2px beige;
    border: 2px solid black;
    border-radius: 8px; 
    margin: 0 auto;
    padding: 20px 10px 15px 30px;
}
.centering-class {
    display: flex;
    justify-content: center;
}
a {
    color: white;
}
a:visited {
    color: red;
}
.magic-link {
    margin: 20px;
}
.button {
    padding: 10px;
    color:black;
}
