* {
  box-sizing: border-box;
  font-size: 16px;
}
html {
  height: 100%;
  width: auto;

}
body {
  background: #FFFFFF;
  margin:0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
   overflow-x: hidden;
}

#today-container {
  flex-direction: column;
  padding: 100px 10px 40px 10px;
  position: relative;
  overflow: hidden;
}

#today-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: -25%;
  width: 150%; 
  height: 100%;
  background: linear-gradient(135deg, #8589FF, #E8E9FF);
  border-bottom-left-radius: 50% 90px;
  border-bottom-right-radius: 50% 90px;
  z-index: -1;
}

#today-container * {
  color: #FFFFFF;
}

#todays-weather-icon-container {
  position: absolute;
  top: 10%;
  right: 25%;
}

#todays-Weather-Icon {
  width: 155%;
  height: auto;
  margin-right: 20px;
}

#temperature {
  font-size: 6rem;
}

#temp-unit {
  vertical-align: super;
  position: relative;
  top: -2rem;
}

#temp-unit, 
#city {
  font-size: 1.5rem;
}

#sunrise-sunset-container {
  display: flex;
  justify-content: center;
  margin: 16px 8px 16px 0px;
}
#sun-Filler {
  flex-grow: 1;
}

#temp-city-description {
  padding: 0 10px 16px 20px;
}

#sunrise,
#sunset,
#description {
  opacity: 0.95;
}

#futureDayList {
  list-style-type: none;
  margin:20px 5px 0 5px;
  padding: 0;
}

.listOfDays {
  border-radius: 76px;
  padding: 16px 8px 16px 20px;
  margin-bottom: 1px;
}
.listOfDays:hover {
  background-color: #00000005;
}